@import url("https://fonts.googleapis.com/css2?family=Secular+One&family=Shizuru&display=swap");

body {
  font-family: "Secular One", sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}
