@import url("https://fonts.googleapis.com/css2?family=Secular+One&family=Shizuru&display=swap");

body {
  font-family: "Secular One", sans-serif;
}

.App {
  color: var(--text-primary);
  background-color: var(--background);
  height: 100vh;
}

.toggle {
  margin-top: -80px;
  margin-right: 40px;
  padding: 10px;
  border-radius: 10px;
  color: var(--text-primary);
  background-color: var(--background);
  float: right;
  background-color: rgba(128, 128, 128, 0.411);
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggle:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
