@import url("https://fonts.googleapis.com/css2?family=Secular+One&family=Shizuru&display=swap");

body {
  font-family: "Secular One", sans-serif;
  background-color: white;
}

.App {
  color: var(--text-primary);
  background-color: var(--background);
  height: calc(100vh - 40px);
  padding-bottom: 40px;
}

.toggle {
  color: var(--text-primary);
  background-color: var(--background);
  float: right;
  background-color: rgba(128, 128, 128, 0.411);
  cursor: pointer;
}
