.map {
  text-align: center;
  zoom: 125%;
}

.map-selected {
  fill: #6aaa64;
}

.map-unselected {
  fill: #2b303a;
}

.map-selected:hover,
.map-unselected:hover {
  cursor: pointer;
  fill: #c9b458;
}
