@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

body {
  margin: 0;
  height: 100%;
  font-family: "Jost", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --background: white;
  --text-primary: black;
}
[data-theme="dark"] {
  --background: rgb(0, 0, 0);
  --text-primary: white;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

ul {
  list-style-type: none;
}

h3 {
  padding: 10px;
  margin: 0;
}
